*{
    box-sizing: border-box;
}

body{
    font-family: Verdana;
    color: #8d8d8d;
}

#content{
    overflow: auto;
}

.title{
    background-color: #e5e5e5;
    padding: 15px;
    text-align: center;
}

.menu{
    float: left;
    width: 20%;
    text-align: center;
}

.menu a{
    text-decoration: none;
    background-color: #e5e5e5;
    color: #8d8d8d;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    font-weight: bold;
}

.main{
    float: left;
    width: 60%;
    height: 100%;
    padding: 0 20px;
    display: none;
}

.default-main{
    display: block;
}

.embedded-div{
    padding: 1%;
}

.right{
    background-color:#e5e5e5;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

.footer{
    background-color: #e5e5e5;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 7px;
}

@media only screen and (max-width: 620px) {
    .menu, .main, .right {
        width: 100%;
    }
}

#profile-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tws-photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tws-photos > img{
    width: 50%;
    height: 30%;
    padding: 1%;
    align-self: center;
}

.inconspicuous-link{
    text-decoration: none;
    color: #8d8d8d;
}

#embedded-tws{
    height: 350px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 620px) {
    .tws-photos > img{
        width: 100%;
        height: 100%;
    }
}

#git-link{
    text-decoration: none;
}

#embedded-mathdoc{
    width: 100%;
    height: 720px;
}
