/* seems more legible */
.center-wrapper {
    width: 65%;
}

#profile-pic {
    float: right;
    margin: 15px;
    width: 40%;
    min-width: 100px;
    max-width: 400px;
    border-radius: 5px;
}

a:hover {
    font-style: italic;
}