/*==============================*/
/*========= Page Setup =========*/
/*==============================*/
*{
    box-sizing: border-box;
}

/* TODO - find out how to use this */
@media only screen and (max-width: 620px) {
    .menu, .main, .right {
        width: 100%;
    }
}

body {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    margin: 2px;
}


/*==============================*/
/*==== Page Layout Sections ====*/
/*==============================*/
.page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 3px;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
}
.left-wrapper {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 5px;
}
.center-wrapper {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 5px;
    padding-right: 10%;
}
.footer-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px;
}


/*==============================*/
/*=========== Header ===========*/
/*==============================*/
.page-header {
    line-height: 80px;
    margin: 5px;
    text-align: center;
    font-size: x-large;
    font-family: Verdana;
    color: gray;
    text-decoration: none;

    border-radius: 5px;
    background-color: #e5e5e5;
}
.page-header > a {
    color: gray;
    text-decoration: none;
}
.page-header > a:hover {
    text-decoration: underline;
    font-style: italic;
}


/*==============================*/
/*============ Left ============*/
/*==============================*/


/*==============================*/
/*=========== Right ============*/
/*==============================*/


/*==============================*/
/*=========== Center ===========*/
/*==============================*/
.center-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.center-content {
    display: flex;
    flex-direction: column;
}
.center-content > p {
    font-family: Verdana;
    color: gray;
}

.pdf {
    width: 100%;
    height: 700px;
    border: none;
}


/*==============================*/
/*=========== Footer ===========*/
/*==============================*/
.link-icons > a {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}
.link-icons > a > img {
    width: 100%;
    height: 100%;
}


/*==============================*/
/*===== Object Formatting ======*/
/*==============================*/
.center-span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}
