/*==============================*/
/*============ dev =============*/
/*==============================*/
/* Handles entire array of projects */
.proj-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 100%;
}

/* Format Each Project */
.proj-wrapper > .proj {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    height: auto;
    margin: 5px 0 5px 0;

    background-color: #e5e5e5;
    border-radius: 5px;
}

.proj > .info {
    display: flex;
    flex-direction: column;

    width: 50%;  /* match with the right side: imgs */
}
.proj > .info > .header {
    line-height: 50px;
    margin: 5px;

    text-align: center;
    text-decoration: underline;
}
.proj > .info > .header > a {
    font-size: 16pt;
    font-family: Verdana;
    
    color: gray;
}
.proj > .info > .header > a:hover {
    cursor: pointer;
}
.proj > .info > .description {
    padding: 5px;
    
    font-family: Verdana;
    color: gray;
}
.proj > .imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 50%;  /* match with the left side: info */
    padding: 10px;
    margin: 10px;

    border-radius: 5px;
    background-color: lightgray;
}
.proj > .imgs > .img-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    height: 200px;
    margin: 5px 0 5px 0;
}
.proj > .imgs > .img-row > img {
    height: 100%;
    max-width: 100%;
    margin: 0 5px 0 5px;
}
