/*==============================*/
/*========= Page Setup =========*/
/*==============================*/
*{
    box-sizing: border-box;
}

/* TODO - find out how to use this */
@media only screen and (max-width: 620px) {
    .menu, .main, .right {
        width: 100%;
    }
}
body {
    margin: 0;
}
p {
    margin: 5px 0 5px 30px;
    padding: 5px 0;
}


/*==============================*/
/*==== Page Layout Sections ====*/
/*==============================*/
.page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 3px;
}
.header-wrapper {
    display: flex;
    flex-direction: column;
}
.content-wrapper {
    display: flex;
    flex-direction: row;
}
.left-wrapper {
    display: flex;
    flex-direction: column;
    width: 16%;
    margin: 5px;
}
.center-wrapper {
    display: flex;
    flex-direction: column;
    width: 78%;
    margin: 5px;
}
.right-wrapper {
    display: flex;
    flex-direction: column;
    width: 6%;
    margin: 5px;
}
.footer-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5px;
}


/*==============================*/
/*=========== Header ===========*/
/*==============================*/
.page-header {
    line-height: 80px;
    margin: 5px;
    text-align: center;
    font-size: x-large;
    font-family: Verdana;
    color: gray;
    text-decoration: none;

    border-radius: 5px;
    background-color: #e5e5e5;
}
.page-header > a {
    color: gray;
    text-decoration: none;
}


/*==============================*/
/*============ Left ============*/
/*==============================*/
.left-wrapper > div,
.left-wrapper > a {
    width: 100%;
    margin: 3px;

    color: gray;
    background-color: #e5e5e5;
    border: 1px solid lightgray;
    border-radius: 5px;

    line-height: 30px;
    text-align: center;
    font-family: Verdana;
    text-decoration: none;
}
.left-wrapper > div:hover,
.left-wrapper > a:hover {
    cursor: pointer;
    background-color: lightgray;
}

/* DROPDOWN MENU */
.dropdown {
    width: 100%;

    color: gray;
    background-color: #e5e5e5;
    
    border: 1px solid lightgray;
    border-radius: 5px;

    text-align: center;
    font-family: Verdana;
    text-decoration: none;
    line-height: 30px;
}

.dropdown-item {
    display: none;
}
.dropdown:hover .dropdown-item {
    display: block;
}
.dropdown:click .dropdown-item {
    display: block;
}

.dropdown-item-content {
    display: flex;
    flex-direction: column;

    margin: 3px;
    padding-left: 5px;

    color: gray;
    background-color: #e5e5e5;
    border: 1px solid lightgray;
    border-radius: 5px;

    text-align: left;
    text-decoration: none;
}

.dropdown-item-content > a {
    padding-left: 5px;
    margin: 3px;

    background-color: #e5e5e5;
    border: 1px solid lightgray;
    border-radius: 5px;

    color: gray;
    font-family: Verdana;
    text-decoration: none;
    line-height: 30px;
}
.dropdown-item-content > a:hover {
    cursor: pointer;
    background-color: lightgray;
}

/*==============================*/
/*=========== Right ============*/
/*==============================*/


/*==============================*/
/*=========== Center ===========*/
/*==============================*/
.center-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.center-content {
    display: flex;
    flex-direction: column;
}
.center-content > p {
    font-family: Verdana;
    color: gray;
}

.pdf {
    width: 100%;
    height: 700px;
    border: none;
}


/*==============================*/
/*=========== Footer ===========*/
/*==============================*/
.link-icons > a {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}
.link-icons > a > img {
    width: 100%;
    height: 100%;
}


/*==============================*/
/*====== Fonts and Styles ======*/
/*==============================*/
.verdana-gray {
    font-family: Verdana;
    color: gray;
}

.center-span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.gray-link {
    font-family: Verdana;
    color: gray;
}
.gray-link:hover {
    cursor: pointer;
}
